.ennav{
  background-image: url('../assets/fr.png');
}

.navbar {
  height: 55px;
}

.buttonnavbar1 {
  margin-left:0.7rem;
}

@media (max-width:692.5px) { 
  .navbar {
    height: 110px;
  }
}
@media (max-width:403.5px) { 
  .navbar {
    height: 165px;
  }
}
