.ennav{
  background-image: url('../assets/fr.png');
}

.navbar {
  height: 55px;
}

@media (max-width:683.5px) { 
  .navbar {
    height: 110px;
  }
}
@media (max-width:397.5px) { 
  .navbar {
    height: 165px;
  }
}
@media (max-width:395.5px) { 
  .navbar {
    background-color: aquamarine;
  }
}