html, body {
  height: 100vh;
  width: 100vw;
  background-color: #0d1117;
}

.body{
  background-color: #0d1117;
  color:#ffffff;
}

.bodyaboutme{
  background-color: #0d1117;
  color:#ffffff;
  margin-bottom:50px;
}

@font-face {
  font-family: 'Lucida Console';
  src: url('./Lucida_Console_Regular.ttf');
}

h1{
  font-family: 'Lucida Console';
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.label{
  font-family: 'Lucida Console';
}

.random img {
  width: auto;
  max-height: 56vh;
  height: auto;
  text-align:center;
  margin:auto;
  display:flex;
  pointer-events: none;
}
@media (orientation: portrait) {
  .random img {
    max-width: 80vw;
    height: auto;
  }
}

.form{
  display:inline-flex;
  background-color: #0d1117 ;
  padding: 0.3em;
  border-color: #ffffff ;
  color: #ffffff ;
}

.inputnom{
  display:inline-block;
  width:30%;
  margin-right:2%;
  margin-top:5px;
}

.nom{
  display:inline-flex;
  border-radius: 7px;
  background-color: #080202 ;
  border-color: #ffffff ;
  color: #ffffff ;
  width:100%;
  height:35px;
  margin-bottom:1em;
  border-radius: 7px;
}

.inputprenom{
  display:inline-block;
  width:30%;
  margin-top:5px;
}

.prenom{
  display:inline-flex;
  border-radius: 7px;
  background-color: #080202 ;
  border-color: #ffffff ;
  color: #ffffff ;
  width:100%;
  height:35px;
  margin-bottom:1em;
}

.inputmail{
  display:inline-block;
  width:55%;
  margin-right:2%;
  margin-top:5px;
}

.mail{
  display:inline-flex;
  border-radius: 7px;
  background-color: #080202 ;
  border-color: #ffffff ;
  color: #ffffff ;
  height:35px;
  width:100%;
}

.selectraisons{
  display:inline-block;
  width:40%;
  margin-top:5px;
}

.raisons{
  display:inline-flex;
  border-radius: 7px;
  background-color: #080202 ;
  border-color: #ffffff ;
  color: #ffffff ;
  width:100%;
  height:35px;
  margin-bottom:1em;
}

.description{
  margin:auto;
  text-align:flex-start;
  color: #ffffff ;
  width:50%;
}

.textarea{
  display:flex;
  margin:auto;
  border-radius: 7px;
  background-color: #080202 ;
  border-color: #ffffff ;
  color: #ffffff ;
  width:100%;
  height:100px;
  margin-bottom:1em;
}

.buttonform{
  display:block;
  text-align:center;
  margin:auto;
  margin-top: 2em;
  background-color: #080202;
  border-radius: 7px;
  padding: 0.3em;
  border-color: #ffffff ;
  color: #ffffff ;
}

.formnonfonc{
  margin-top: 1rem;
  text-align: center;
}

.button{
  display:block;
  text-align:center;
  margin:auto;
  margin-top: 2em;
  width: 6em;
  background-color: #080202;
  border-radius: 7px;
  padding: 0.3em;
  border-color: #ffffff ;
  color: #ffffff ;
}

.navbar{
  display: block;
  text-align: center;
  background-color: #001c31;
  padding:0px;
}

.divlogo{
  display: inline;
  float: left;
  margin: auto;
  width: 60px;
  height: 57px;
  pointer-events: none; 
}

.logo{
  width: 57px;
  height: 57px; 
}

.titre{
  font-family: 'Lucida Console';
  color:#ffffff;
  position: absolute;
  left :60px;
  top:7px;
  font-size: 40px;
  margin-top: -8px;
}

@media (max-width:1350px) { 
.titre{
    display:none;
  }
}

.buttonnavbar1{
  background-color: #4d95a4;
  border-radius: 7px;
  border: 2px solid #4d95a4;
  color: #ffffff ;
  height: 37px;
  margin-top:12px;
  margin-left:2.5px;
  margin-right:2.5px;
  transition-duration: 0.5s;
  font-weight: bold;
}
.buttonnavbar1:hover{
  background-color: #59b9cd;
  color: #001c31;
}

.buttonnavbar2{
  background-color: #4083b6;
  border-radius: 7px;
  border: 2px solid #4083b6;
  color: #ffffff ;
  height: 37px;
  margin-top:12px;
  margin-left:2.5px;
  margin-right:2.5px;
  transition-duration: 0.5s;
  font-weight: bold;
}
.buttonnavbar2:hover{
  background-color: #4ea1e1;
  color:#001c31;
}

.buttonnavbar3{
  background-color: #531a94;
  border-radius: 7px;
  border: 2px solid #531a94;
  color: #ffffff ;
  height: 37px;
  margin-top:12px;
  margin-left:2.5px;
  margin-right:2.5px;
  margin-bottom: 8px;
  transition-duration: 0.5s;
  font-weight: bold;
}
.buttonnavbar3:hover{
  background-color: #a265e8;
  color:#001c31;
}

.ennav{
  margin-top: -4px;
  margin-left: 20px;
  height: 32px;
  border-radius: 2px;
}
.ennav:hover{
  cursor: pointer;
}

#refresh{
  margin-top:3.6em;
}

.popup {
  position: relative;
  margin-left: 2vw;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #080202;
  padding: 0.3em;
  border-color: #ffffff ;
  border-radius: 7px;
  color: #ffffff ;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555555;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity:92%;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

h2{
  color: #468B97;
}

h5{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.divimgindex{
  display:inline;
}

.imgindex1{
  width:45%;
  justify-self: left;
  margin-left: 5%;
}

.imgindex2{
  width:45%;
  justify-self: right;
}

@media (max-width:1000px) { 
  .imgindex1{
    width:90%;
  }
  .imgindex2{
    width:90%;
    margin-left: 5%;
  }
}

.div1{
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  display:flex; 
  width:50%;
  margin-top: 1.3em;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #071E3D;
  color: white;
  text-align: center;
  min-height:50px;  
  font-size:16px;
}

.divfooter1{
  float:left;
  width:45%;
  text-align:center;
  word-wrap: break-word;
}

.divfooter2{
  float:right;
  width:45%;
  text-align:center;
  word-wrap: break-word;
}