html, body {
  background-color: #dbdbdb;
}

.body{
  background-color: #dbdbdb;
  color:#000000;
}

.bodyaboutus{
  background-color: #dbdbdb;
  color:#000000;
  margin-bottom:50px;
}

@font-face {
  font-family: 'Lucida Console';
  src: url('../Lucida_Console_Regular.ttf');
}

h1{
  font-family: 'Arial';
  margin-bottom: 1.2rem;
  margin-top: 0.3rem;
  margin-left: 1rem;
}

.random img {
  width: auto;
  max-height: 56vh;
  height: auto;
  text-align:center;
  margin:auto;
  display:flex;
  pointer-events: none;
}
@media (orientation: portrait) {
  .random img {
    max-width: 80vw;
    height: auto;
  }
}

.form{
  display:inline-flex;
  background-color: #dbdbdb ;
  padding: 0.3em;
  color: #080202 ;
}

.inputnom{
  display:inline-block;
  width:30%;
  margin-right:2%;
  margin-top:5px;
}

.nom{
  display:inline-flex;
  border-radius: 7px;
  background-color: #080202 ;
  border-width: 2px;
  border-color: #000000;
  border-top:#000000 ;
  border-left:#000000 ;
  color: #dbdbdb ;
  width:100%;
  height:35px;
  margin-bottom:1em;
  border-radius: 7px;
}

.inputprenom{
  display:inline-block;
  width:30%;
  margin-top:5px;
}

.prenom{
  display:inline-flex;
  border-radius: 7px;
  background-color: #080202 ;
  border-color: #dbdbdb ;
  color: #dbdbdb ;
  width:100%;
  height:35px;
  margin-bottom:1em;
}

.inputmail{
  display:inline-block;
  width:55%;
  margin-right:2%;
  margin-top:5px;
}

.mail{
  display:inline-flex;
  border-radius: 7px;
  background-color: #080202 ;
  border-color: #dbdbdb ;
  color: #dbdbdb ;
  height:35px;
  width:100%;
}

.selectraisons{
  display:inline-block;
  width:40%;
  margin-top:5px;
}

.raisons{
  display:inline-flex;
  border-radius: 7px;
  background-color: #080202 ;
  border-color: #dbdbdb ;
  color: #dbdbdb ;
  width:100%;
  height:35px;
  margin-bottom:1em;
}

.description{
  margin:auto;
  text-align:flex-start;
  color: #dbdbdb ;
  width:50%;
}

.textarea{
  display:flex;
  margin:auto;
  border-radius: 7px;
  background-color: #080202 ;
  border-color: #dbdbdb ;
  color: #dbdbdb ;
  width:100%;
  height:100px;
  margin-bottom:1em;
}

.buttonform{
  display:block;
  text-align:center;
  margin:auto;
  margin-top: 2em;
  background-color: #080202;
  border-radius: 7px;
  padding: 0.3em;
  border-color: #dbdbdb ;
  color: #dbdbdb ;
}

.formnonfonc{
  margin-top: 1rem;
  text-align: center;
}

.button{
  display:block;
  text-align:center;
  margin:auto;
  margin-top: 2em;
  width: 6em;
  background-color: #080202;
  border-radius: 7px;
  padding: 0.3em;
  border-color: #dbdbdb ;
  color: #dbdbdb ;
}

.navbar{
  display: flexbox;
  justify-content: center;
  background-color: #001c31;
  padding:0px;
  height: auto;
}

.titre{
  font-family: 'Lucida Console';
  color:#ffffff;
  position: absolute;
  left :12px;
  top:7px;
  font-size: 40px;
  margin-top: -8px;
}

@media (max-width:1350px) { 
.titre{
    display:none;
  }
}

.buttonnavbar1{
  cursor: pointer;
  text-decoration: none;
  display: inline;
  background-color: #4d95a4;
  border-radius: 7px;
  border: 2px solid #4d95a4;
  color: #ffffff ;
  height: 37px;
  padding: 5px;
  padding-top: 4px;
  margin-left:0.3rem;
  margin-right:0.3rem;
  transition-duration: 0.5s;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.buttonnavbar1:hover{
  background-color: #59b9cd;
  color: #001c31;
}

.buttonnavbar2{
  cursor: pointer;
  text-decoration: none;
  display: inline;
  background-color: #4083b6;
  border-radius: 7px;
  border: 2px solid #4083b6;
  color: #ffffff ;
  height: 37px;
  padding: 5px;
  padding-top: 4px;
  margin-left:0.3rem;
  margin-right:0.3rem;
  transition-duration: 0.5s;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.buttonnavbar2:hover{
  background-color: #4ea1e1;
  color:#001c31;
}

.buttonnavbar3{
  cursor: pointer;
  text-decoration: none;
  display: inline;
  background-color: #531a94;
  border-radius: 7px;
  border: 2px solid #531a94;
  color: #ffffff ;
  height: 37px;
  padding: 5px;
  padding-top: 4px;
  margin-left:0.3rem;
  margin-right:0.3rem;
  transition-duration: 0.5s;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.buttonnavbar3:hover{
  background-color: #a265e8;
  color:#001c31;
}

.ennav{
  background-image: url("../assets/en.png");
  background-repeat: round;
  text-decoration: none;
  display: inline;
  cursor: pointer;
  border-radius: 7px;
  height: 37px;
  width: 75px;
  padding-top: 4px;
  margin-left:1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width:1250px) { 
  .titre {
    display:none;
  }
}

#refresh{
  margin-top:1.5rem;
}

.popup {
  position: relative;
  margin-left: 2vw;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #080202;
  padding: 0.3em;
  border-color: #dbdbdb ;
  border-radius: 7px;
  color: #dbdbdb ;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555555;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity:92%;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
} 

h2{
  color: #de9d12;
}

h5{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

#divnewflag{
  display: none;
  height: min-content;
  width: auto;
}

#btnnewflag{
  display: inline-flex;
  height: auto;
  margin-left: 2vw;
  margin-top: 0;
  width: auto;
}

.pstreak{
  display:inline-block;
  font-family: 'Lucida Console';
  font-size: 2rem;
}

.divimgindex{
  height: auto;
  display:flex;
  justify-content: space-evenly;
}

.imgindex1{
  width:45%;
}

.imgindex2{
  width:45%;
}

@media (max-width:1000px) {
  .divimgindex{
    display: block;
  } 
  .imgindex1{
    width:80vw;
  }
  .imgindex2{
    width:80vw;
  }
}

input {
  font-size: 1rem;
  padding: 5px;
  height: 35px;
  width: 40vw;
  border: 1px solid #001c31;
  outline: none;
  border-radius: 5px;
  color: #001c31;
  background-color: #dbdbdb;
/*   border-bottom: none; */
}
input:disabled {
  color: #001c31;
  background-color: #858394;
}

datalist {
  position:absolute;
  left: 55vw;
  top: 2.3rem;
  background-color: #080202;
  border: 1px solid #001c31;
  border-radius: 5px 5px 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: auto;
  min-width: 120px;
  max-width: 300px;
  padding: 5px;
  max-height: 7.9rem;
  overflow-y: auto;
  word-break: normal;
}
@media (orientation: portrait) {
  datalist {
    position: absolute;
    left: 19vw;
    max-height: 6rem;
    max-width: max-content;
  }
  #refresh {
    margin-top: 2rem;
  }
}

option {
  background-color: #080202;
  padding: 4px;
  color: #dbdbdb;
  margin-bottom: 1px;
  font-size: 0.9rem;
  cursor: pointer;
}

option:hover,  .active{
  background-color: #151c25;
}

@media (max-width:1000px) { 
  .imgindex1{
    width:90%;
  }
  .imgindex2{
    width:90%;
    margin-left: 5%;
  }
}

.divyes{
  position: relative;
  text-align: center;
  margin-top: 1.3rem;
}  

/* Fonctionne sur Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: #001c31 #817f94;
}

/* Fonctionne sur Chrome, Edge, et Safari */
*::-webkit-scrollbar {
  background-color: #817f94;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #001c31;
  border-radius: 3px;
}